.overlayContainer {
    min-width: 12rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: lightgray;
    padding: .5rem;
    border-radius: 1rem;

    font-family: 'Poppins';
    color: white;
    font-weight: 600;
}

.gameTime {
    display: none;
}


span {
    display: block;
    width: max-content;
    margin: auto;
}

.scoreContainer {
    display: flex;
    border-radius: 1rem;
}

.awayTeam {
    background-color: var(--away-color);
    min-width: 8rem;
    border-radius: .75rem 0 0 .75rem;
}


.homeTeam {
    background-color: var(--home-color);
    min-width: 8rem;
    border-radius: 0 .75rem .75rem 0;
}

.score {
    font-size: xx-large;
}