.overlay-body {
    width: 100vw;
    height: 100vh; /* Ensure full viewport height */
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* font-semibold */
    color: #ffffff; /* text-white */
    overflow: hidden; /* Prevent scrollbars during animation */
}

.overlay-container {
    position: absolute;
    bottom: 0.625rem;
    left: 0.625rem;
    right: 0.625rem;
    min-height: 2.5rem;
    max-height: 5rem; 
    padding: 0.75rem; /* p-3 */
    background-color: #000000; /* bg-black */
    border-radius: 9999px; /* rounded-full */
    display: flex;
    font-size: 2.25rem; /* text-4xl */
    transition: border-radius 0.5s ease;
    z-index: 5;
}

.overlay-container.leftPop {
    border-radius: 0 9999px 9999px 9999px;
}

.overlay-container.rightPop {
    border-radius: 9999px 0 9999px 9999px;
}

.awayTeam, .homeTeam {
    width: 40%; /* w-5/12 */
    min-height: 2.5rem; /* min-h-10 */
    padding: 0 0.25rem; 
    border-radius: 9999px; /* rounded-full */
    display: flex;
}

.awayTeam {
    background-color: #ff0000; /* bg-[#ff0000] */
}

.homeTeam {
    background-color: #1303c8; /* bg-[#1303c8] */
}

.nameAway, .nameHome {
    width: 75%;
    color: #ffffff;
    text-overflow: clip;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0;
}

.nameAway {
    text-align: left;
    margin-left: 1rem;
}

.nameHome {
    text-align: right;
    margin-right: 1rem;
}

.teamName {
    font-size: 2rem;
    line-height: 2rem;
}

.teamSubtext {
    font-size: 1.25rem;
    line-height: 1.25rem;
    opacity: 0.8;
}

.scoreAway, .scoreHome {
    width: 25%; /* w-1/4 */
    /*height: 3.25; /* h-10 */
    color: #ffffff; /* text-white */
    font-size: 2.25rem;
    margin: 0 auto;
    
}

.scoreAway {
    text-align: right;
    margin-right: 0.75rem; /* mr-3 */
}

.scoreHome {
    text-align: left;
    margin-left: 0.75rem; /* ml-3 */
}

.gameTime {
    width: 20%; /* w-2/12 */
    min-height: 2.5rem; /* min-h-10 */
    margin: auto;
    text-align: center;
    font-size: 2.25rem; /* text-4xl */
}

.scoreContainer {
    display: flex;
    width: 100%;
}

.bannerContainer {
    position: absolute;
    bottom: 0.625rem;
    left: 0.625rem;
    right: 0.625rem;
    min-height: 2.5rem;
    max-height: 5rem;
    padding: 0.75rem;
    border-radius: 9999px;
    background-color: #1303c8;
    z-index: 10; /* Ensure it appears above other content */
    display: none; /* Hidden by default */
}

.bannerText {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 2.25rem;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideIn 1.5s forwards;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.slide-out {
    animation: slideOut 1.5s forwards;
}

.popupContainer {
    position: absolute;
    bottom: 0;
    width: 44%;
    min-height: 2.5rem;
    max-height: 5rem;
    padding: 0.75rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #000000;
    z-index: 0;
    display: none;
}

.popupContainer.home {
    right: 0.625rem;
}

.popupContainer.away {
    left: 0.625rem;
}

.popupText {
    margin: 0rem 1rem;
    text-align: center;
    font-size: 2.25rem;
    width: 100%;
    color: #ffffff;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}

.slide-up {
    animation: slideUp .5s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}

.slide-down {
    animation: slideDown .5s forwards;
}