.overlay-body {
    width: 100vw;
    height: 100vh; /* Ensure full viewport height */
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* font-semibold */
    color: #ffffff; /* text-white */
    overflow: hidden; /* Prevent scrollbars during animation */
}

.overlay-container {
    position: relative; /* Position relative for absolute banner */
    min-width: 24rem; /* w-min-96 */
    min-height: 2.5rem; /* h-min-10 */
    max-height: 5rem;
    margin: 0.625rem; /* m-2.5 */
    padding: 0.75rem; /* p-3 */
    background-color: #000000; /* bg-black */
    border-radius: 9999px; /* rounded-full */
    display: flex;
    font-size: 2.25rem; /* text-4xl */
}

.awayTeam, .homeTeam {
    width: 41.666667%; /* w-5/12 */
    min-height: 2.5rem; /* min-h-10 */
    padding: 0.25rem; /* p-1 */
    border-radius: 9999px; /* rounded-full */
    display: flex;
}

.awayTeam {
    background-color: #ff0000; /* bg-[#ff0000] */
}

.homeTeam {
    background-color: #1303c8; /* bg-[#1303c8] */
}

.nameAway, .nameHome {
    width: 75%; /* w-3/4 */
    color: #ffffff; /* text-white */
    text-overflow: clip;
}

.nameAway {
    text-align: left;
    margin-left: 0.75rem; /* ml-3 */
}

.nameHome {
    text-align: right;
    margin-right: 0.75rem; /* mr-3 */
}

.scoreAway, .scoreHome {
    width: 25%; /* w-1/4 */
    height: 2.5rem; /* h-10 */
    color: #ffffff; /* text-white */
    text-align: center;
}

.scoreAway {
    text-align: right;
    margin-right: 0.75rem; /* mr-3 */
}

.scoreHome {
    text-align: left;
    margin-left: 0.75rem; /* ml-3 */
}

.gameTime {
    width: 16.666667%; /* w-2/12 */
    min-height: 2.5rem; /* min-h-10 */
    margin: auto;
    text-align: center;
    font-size: 2.25rem; /* text-4xl */
}

.scoreContainer {
    display: flex;
    width: 100%;
}

.bannerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 9999px;
    background-color: #1303c8;
    z-index: 10; /* Ensure it appears above other content */
    display: none; /* Hidden by default */
}

.bannerText {
    margin: 0rem 1rem;
    text-align: center;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideIn 1s forwards;
}

.slide-out {
    animation: slideIn 1s backwards;
}